*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: large;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient( #d6ed05 50% , #00d4ff 50%);
}

.app{
    
    
    /* width:min(95vw,31em); */
    position: absolute;
    transform: translate(-50% , -50% );
    top: 25%;
    left: 50%;
    box-shadow: 7px 6px 12px 3px #7d98a1;
    /* border : 2px solid red; */
    background-color: rgb(240, 210, 174);
}

.showOutput{
    height: auto;
    background-color: aliceblue;
    padding-top: 10px;
    user-select: all;
    word-break: break-all;

}
.container{
    /* border: 2px solid red; */
    height: auto;
    width: 315px;
    text-align: center;
    
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    background-color: rgb(170, 230, 230);

}

.submit{
    padding-bottom: 5px;
}


#error{
    padding: 5px;
    margin: 10px;
    display: hidden;
}